<div class="main">
  <h1>Hello omprakash</h1>
  <input type="text" placeholder="Enter value" #name>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Corrupti illo quia, soluta ipsa placeat maiores iste veritatis.
    itaque voluptates cum modi quo ex ullam culpa dolores veniam, odit dolorem atque.
  </p>

  <div class="home" *ngIf="destroyButton">
    <app-home [myname]="myName"></app-home>
  </div><br>
  <button class="btn btn-primary" (click)="onDestroyComponent(name)">{{destroyButton?'Destroy': 'Submit'}}</button>
</div>

<div class="container" style="display: flex; margin-top: 70px; padding-left: 40px;">
  <app-comp1></app-comp1>
  <app-comp2></app-comp2>
</div>